- unless @dev_statuses.blank?
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th{:scope => "col"} Date
          %th{:scope => "col"} Status
          %th{:scope => "col"} Description
          %th
      %tbody
        - @dev_statuses.each do |dev_status|
          %tr
            %td= dev_status.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
            %td= dev_status.status
            %td= dev_status.status_description
- else
  &nbsp;
  None