- unless @denoms.blank?
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th{:scope => "col"} #
          %th{:scope => "col"} Denom
          %th{:scope => "col"} Status
          %th{:scope => "col"} Description
      %tbody
        - @denoms.each do |denom|
          - unless denom.denomination.zero?
            %tr
              %td= denom.cassette_id
              %td= denom.denomination
              %td= denom.bill_count_status
              %td= denom.bill_count_status_description
- else
  None