.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        %i.fa.fa-user
        Edit User
    / Main content
    %section.content
      .row
        .col-md-6
          = render 'form'