%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => root_path} 
    <b>Payment</b>ATM
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => customers_path}
          %i.fa.fa-male
          Payees
      %li.nav-item
        %a.nav-link{:href => users_path}
          %i.fa.fa-user
          Users
      %li.nav-item
        %a.nav-link{:href => payment_batches_path}
          %i.fa.fa-dollar
          Payments
    %form.form-inline.my-2.my-lg-0
      .my-2.my-sm-0.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = current_user.full_name
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"}
            = current_user.company.name
            %br
            %small Admin
          %a.dropdown-item{:href => edit_user_registration_path(current_user)} Edit account
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Something else here
      .my-2.my-sm-0= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' }, class: 'btn btn-outline-danger'