.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        = current_user.company.name
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            = current_user.full_name
          .box-tools.pull-right
            %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "collapse", :title => "Collapse", :type => "button"}
              %i.fa.fa-minus
            %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "remove", :title => "Remove", :type => "button"}
              %i.fa.fa-times
        .box-body
          %h3 Redirecting you to your payee page...