.login-box
  = render 'shared/flash_messages'
  .login-logo
    %a{:href => root_path}
      <strong>Payment</strong>ATM
  .login-box-body
    %h3.text-success.login-box-msg 
      %i.fa.fa-money
      Get Some Cash
      %i.fa.fa-money