.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        %i.fa.fa-dollar
        New Payment Batch
    / Main content
    %section.content
      .row
        .col-md-9
          = render 'form'