.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        New Payment Batch CSV Mapping
    / Main content
    %section.content
      .row
        .col-md-9
          = render 'form'